h2{
    border: 2px solid whitesmoke;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTERf6TlQ_gj3fXUeC9EKXQADNevnVensRBuA&usqp=CAU');
    padding:100px;
    text-align:center;
    background-repeat: no-repeat;
    font-size: large;
}   

h1{
    text-align: center;
    margin-top: 100px;
    
}
